[user]
	name = Roberto Gomez
	email = mail@robertogomezjr.com
[merge]
	tool = vimdiff
[color]
	branch = auto
	diff = auto
	status = auto
[alias]
	unpushed = log --branches --not --remotes
	st = status
	graph = log --graph --decorate --abbrev-commit --pretty=oneline --all
	co = checkout
	br = branch
	ct = commit
	df = diff
	last = log -1 HEAD
[core]
	excludesfile = ~/.gitignore_global
